@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

font-family: 'Roboto Mono', monospace;

* {
	box-sizing: border-box;
}

html {
	/*background: url("/images/websitebackground.png") no-repeat center ; 
    background-size: cover;*/
    background-color: black;
}

body { 
	font-family: 'Roboto Mono', monospace; 
	font-weight: normal;
	font-style: normal;
	color: white;
}

li {
	list-style:none;
}

h2 {
	font-size: 150%;
}

fieldset {
    border:2px solid white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    margin: 20px;
    background-color: black;

}

@media (max-width: 800px) {
body {
font-size: 75%;
display: block;


}
}

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/*.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: center;
}*/

.link {
	color:white; 
	text-decoration: none;
}

.link:hover {
	color: yellow;
    text-decoration: none;
}

.link2{
	color: white;
    text-decoration: none;
    /*-webkit-text-fill-color: #ff682c;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px; */
}

.link2:hover {
	color: yellow;
    text-decoration: none;
    /*-webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;*/ 
}

.link1 {
	color: white;
    text-decoration: underline;
}

.link1:hover {
	color: yellow;
    text-decoration: none;
}

.link3 {
	color:white; 
	text-decoration: none;
	border: 2px solid black;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    padding: 5px;
}

.link3:hover {
	color: #ff682c;
    text-decoration: none;
}

.textbox {
	/*border: 2px solid white;*/
	margin: 10px;
	padding: 5px;
	overflow: hidden;
    /*transition-duration: 0.8s;
    transition-property: transform;*/
    /*float: left;
    display: block;*/
    /*width: 25%;*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    color: white;
    background-color: black;
}

.textbox1 {
	border: 2px solid white;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
	padding: 5px;
	margin: 5px;
	overflow: hidden;
    color: black;
    display: block;
    background-color:black;
    
}

.textbox:hover {
    /*transform: rotate(360deg);
    -webkit-transform: rotate(360deg);*/
}

.box {
	width:100%;
	height: 100%;
}

.button {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: white;
    text-decoration: none;
    /*box-shadow: 5px 5px;*/
    float: left;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    background-color: black;	
}

.button:hover {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: left;
}

.button-next {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: white;
    text-decoration: none;
    float: right;
    /*box-shadow: 5px 5px;*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    background-color: black;
}

.button-next:hover {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: right;
}


#p, #p1, #p2, #p3, #p4 {
	overflow: hidden;
	font-size: 250%;
	padding: 5px;
	/*margin: 1%;*/
	position: relative;
	background-color: black;
	border: 2px dotted white;
}

#p1, #p2, #p3, #p4 {

}


#wa1 {
	display: inline-block;
	background-color: black;

}

.scrolling {
	overflow-x: scroll;
  	overflow-y: hidden;
 	white-space: nowrap;
  	width: 50%;
}

.img {
	display: inline-block;
}