/*@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}*/

font-family: 'Roboto Mono', monospace;

* {
	box-sizing: border-box;
}

body { 
	font-family: 'Roboto Mono', monospace;
	font-weight: normal;
	font-style: normal;
	color: yellow;
	background-color: yellow;
	background-image: url("/images/dragonleg.png") no-repeat center fixed; 
    background-size: cover;
   /* width: 100%;
    height: auto;*/

}

li {
	list-style:none;
}


fieldset {
    border:2px solid yellow;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    margin: 20px;

}

.link {
	color: yellow;
    text-decoration: none;
}

.link:hover {
	color: white;
    text-decoration: none;
}

.link1 {
	color: yellow;
    text-decoration: underline;
}

.link1:hover {
	color: white;
    text-decoration: none;
}

.textbox {
	border: 2px solid yellow;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    text-decoration: none;
    float: left;
    color: yellow;
    box-shadow: 5px 10px;
}

.textbox:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.button {
	border: 2px solid yellow;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: left;
    box-shadow: 5px 10px;
}

.button:hover {
	border: 2px solid yellow;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
}

.button-next {
	border: 2px solid yellow;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: right;
    box-shadow: 5px 10px;
}

.button-next:hover {
	border: 2px solid yellow;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: right;
}

#p1 {
	float: left;
	font-size: 250%;
	clear: both;
	display: block;
	padding: 5px;
	margin:  50px 20px 20px 100px;
}

#p2 {
	float: right;
	font-size: 210%;
	clear: both;
	display: block;
	padding: 5px;
	margin: 100px 200px 20px 20px;
}

#p3 {
	float: left;
	font-size: 200%;
	clear: both;
	display: block;
	padding: 5px;
	margin:  0px 20px 20px 200px;

}

#p4 {
	float: right;
	font-size: 150%;
	clear: both;
	display: block;
	padding: 5px;
	margin:  200px 750px 20px 20px;

}

#wa1 {
	float: right;
	clear: both;
	display: block;
	padding: 5px;
	margin-right: 10%;
}

.scrolling {
	overflow-x: scroll;
  	overflow-y: hidden;
 	white-space: nowrap;
  	width: 50%;
}

.img {
	display: inline-block;
}