

@font-face {
    font-family: 'violet_sansregular';
    src: url("css/fonts/violetsans-regular-webfont.woff2") format('woff2'),
         url("css/fonts/violetsans-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

font-family: 'Roboto Mono', monospace;

* {
	box-sizing: border-box;
}

html {
      /*background: url("/images/backgrounddark.png") no-repeat center center fixed ; 
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/
	  background-color: black;
}

body { 
	font-family: 'Roboto Mono', monospace; 
	font-weight: normal;
	font-style: normal;
	color: white;
}

li {
	list-style:none;
}

h2 {
	font-size: 150%;
}

fieldset {
    border:2px dotted white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;	
    margin: 10px;
    

}

@media (max-width: 800px) {
body {
	font-size: 75%;
	display: block;
}
img {
	height: 250px;
}

.ui-dialog-content, .ui-dialog{
	max-width: 300px;
	height: 500px;
}

#dialog {
	width: 300px;
}

}
@media {

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

}

.ui-dialog {
	background-color: black;
	width: 900px !important;
	max-height: 600px !important;
  	overflow-y: scroll;
    z-index: 1;
     border:2px dotted white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;	
    margin: 10px;
    padding: 10px;
}

.ui-dialog-title {
	font-size: 200%;
}

.ui-dialog-titlebar-close {
	float: right;
	position: relative;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
       background: url("images/close.png") no-repeat center;
       border: none;
       background-color: black;
       color: black;
       font-size: 100%;

    }

.ui-dialog-titlebar {
	background-color: black;
	padding: 5px;
	border-bottom: 2px dotted white;
}


#opener, #opener1, #opener2, #opener3, #opener4, #opener5, #opener6, #opener7, #opener8, #opener9, #opener10, #opener11, #opener12, #opener13, #opener14, #opener15, #opener16 {
	font-size: 100%;
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
	background-color: black;
	border: none;
}

.left {
	display: inline-block;
	position: relative;
	float: left;
	padding: 10px;
	margin-left: 10px;
	overflow: hidden;

}

.right {
	display: inline-block;
	position: fixed;
	right: 0;
	margin-right: 10px;
	padding: 10px;
	overflow: hidden;
	
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black
  color: white;
  text-align: center;
  display: inline-block;
}

.footer2 {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: black
  color: white;
  text-align: center;
  display: inline-block;
}

.link {
	color:white; 
	text-decoration: none;
}

.link:hover {
	color: yellow;
    text-decoration: none;
}

.link2{
	color: white;
    text-decoration: none;
    /*-webkit-text-fill-color: #ff682c;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px; */
}

.link2:hover {
	color: yellow;
    text-decoration: none;
    /*-webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;*/ 
}

.link1 {
	color: white;
    text-decoration: underline;
}

.link1:hover {
	color: yellow;
    text-decoration: none;
}

.link3 {
	color:white; 
	text-decoration: none;
	/*border: 2px solid black;*/
	/* -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    padding: 5px;*/
}

.link3:hover {
	color: yellow;
    text-decoration: none;
}

.textbox {
	/*border: 2px solid white;*/
	margin: 10px;
	padding: 5px;
	overflow: hidden;
    /*transition-duration: 0.8s;
    transition-property: transform;*/
    /*float: left;
    display: block;*/
    /*width: 25%;*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    color: white;
    background-color: black;

}

.textbox1 {
	border: 2px solid white;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
	padding: 5px;
	margin: 5px;
	overflow: hidden;
    color: black;
    display: block;
    
}

.textbox:hover {
    /*transform: rotate(360deg);
    -webkit-transform: rotate(360deg);*/
}

/*.box {
	width: 500px;
	height: 200px;
	background-color: white;
}*/

.button {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 10px;
	color: white;
    text-decoration: none;
    /*box-shadow: 5px 5px;*/
    float: left;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.button:hover {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: left;
}

.button-next {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: white;
    text-decoration: none;
    float: right;
    /*box-shadow: 5px 5px;*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.button-next:hover {
	border: 2px dotted white;
	padding: 5px;
	text-align: center;
	margin: 20px;
	color: yellow;
    text-decoration: none;
    float: right;
}

#dragdiv {
	position: absolute;
	border: 2px dotted white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    padding: 5px;
}

#dragdivheader {
	cursor: move;
	font-size: 300%;
	position: absolute;

}

#draggable {
	position: absolute;
	cursor: move;
	color: white;
}

#start{
	font-size: 100%;
	padding: 10px;
	border: 2px dotted white;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}

#end, #end2, #end3 {
	border: 2px dotted white;
	 -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    font-size: 100%
}


#p, #p1, #p2, #p3, #p4 {
	overflow: hidden;
	font-size: 300%;
	padding: 5px;
	/*margin: 1%;*/
	position: relative;
	/*background-color: black;*/
	border: 2px dotted white;
	
}


#wa1 {
	display: inline-block;
	background-color: black;

}

.scrolling {
	overflow-x: scroll;
  	overflow-y: hidden;
 	white-space: nowrap;
  	width: 99%;
}

.img {
	display: inline-block;
}